header{
    width: 680;
    height: 400;
    background-color: rgb(223, 189, 147);
}

body{
    background-color: rgb(255, 228, 195);
    color: rgb(97, 43, 18);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, p{
    text-align: center;
    text-size-adjust: 6;
}
p{
    color: saddlebrown;
}
footer{
    text-align: center;
    background-color: rgb(241, 170, 122);
}